<div class="l-segment l-border-0 example-layout pageLayout">
    <form action="./page_div/index.html" class="m-pageSubmit">


    </form>
    <div class="l-row x-pageDiv">
        <div class="l-col-1 l-ml-1">{$total.pageNow}--{$total.pageNow}--{$total.pageNow}</div>
        <div class="l-col-1 l-ml-1">{$total.pageNow}--{$total.pageNow}--{$total.pageNow}</div>
        <div class="l-col-1 l-ml-1">{$total.pageNow}--{$total.pageNow}--{$total.pageNow}</div>
        <div class="l-col-1 l-ml-1">{$total.pageNow}--{$total.pageNow}--{$total.pageNow}</div>
        <div class="l-col-1 l-ml-1">{$total.pageNow}--{$total.pageNow}--{$total.pageNow}</div>
        <div class="l-col-1 l-ml-1">{$total.pageNow}--{$total.pageNow}--{$total.pageNow}</div>
    </div>
    <div class="m-pageBar" page-total={$total.pageTotal} page-now={$total.pageNow} page-length={$total.pageLength} data-total={$total.dataTotal}></div>
</div>


<style>
    .x-pageDiv .l-col-1 {
        padding: 50px 0;
        background: #aaa;
        color: #fff;
        text-align: center;
    }
</style>